# SPDX-License-Identifier: GPL-2.0
#
# Copyright 2018 Peter Jones <pjones@redhat.com>

menu "Host processor type and features"

endmenu

config 64BIT
	bool "64-bit kernel" if "$(SUBARCH)" = "x86"
	default "$(SUBARCH)" != "i386"

config OUTPUT_FORMAT
	string
	default "elf32-i386" if X86_32
	default "elf64-x86-64" if X86_64

config ARCH_DEFCONFIG
	string
	default "arch/efi/configs/i386_defconfig" if X86_32
	default "arch/efi/configs/x86_64_defconfig" if X86_64

config ARCH_EFI_X86
	def_bool y
	select GENERIC_FIND_FIRST_BIT
	select ARCH_EFI

config ARCH_HYBERNATION_POSSIBLE
	def_bool !ARCH_EFI_X86

config ARCH_SUSPEND_POSSIBLE
	def_bool !ARCH_EFI_X86

config X86_SYSFB
	def_bool !ARCH_EFI

source "arch/x86/Kconfig"
